<!DOCTYPE html>
<html>
<head>
	<title>Squeeze</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	
	<nav class="container navbar navbar-light">
		<div class="container-fluid">
	    <div class="navbar-header">
	      	<a class="navbar-brand" href="../">Squeeze</a>
	    </div>
	    <ul class="nav navbar-nav" style="float: right">
	      	<li><a href="../create">Create a quiz</a></li>
	      	<li><a href="../take">Take a quiz</a></li>
	      	<li><a href="../about">About Us</a></li>
	      	<li><a href="../login">Login</a></li>
	    </ul>
	  </div>
		  
	</nav> 
	<section align="center">
		<div class="container">
			<h1>
				Create quiz
			</h1>

			<div class="container" style="display: inline;">
				<h3>Here are all the questions</h3>
				<div class="container" style="display: flex; border: 2px dashed black; padding: 10px; margin: 5px;">
					<h4 style="padding: 10px;">Q 1</h4>
					<div style="padding: 10px;" class="question">
						<h5>What is your name?</h5>
						<ul >
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">Manish</li>
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">Aman</li>
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">Razi</li>
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">None of the above</li>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</section>
</body>
</html>
