{% extends 'base.html' %}
 {% block content %}
	<section style=" text-align:'center'">
		<div class="container">
			<h1>
				Create quiz
			</h1>

			<div class="container" style="display: inline;">
				<h3>Here are all the questions</h3>
				<div class="container" style="display: flex; border: 2px dashed black; padding: 10px; margin: 5px;">
					<h4 style="padding: 10px;">Q 1</h4>
					<div style="padding: 10px;" class="question">
						<h5>What is your name?</h5>
						<ul >
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">Manish</li>
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">Aman</li>
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">Razi</li>
							<li style="border: 1px solid gray; padding: 10px; border-radius: 5px; margin: 3px;">None of the above</li>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</section>
	{% endblock %}