{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Quezee</title>
    <link rel="stylesheet" href="{% static 'style/1.css' %}">
</head>
<body style="background-image: url('{% static 'images/land.jpeg' %}');">
    <section >
        <div class="single-slide-item slide-1 landing-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-slide-item-content">
                        <h2>Quizzy <br> Some Good line</h2>
                         <h3>Tell us what you want to do!!!</h3>
                        <a href="give_quiz"><button type="button" class="slide-btn" >
                       Give quiz
                        </button></a>
                        <button type="button"  class="slide-btn">
                        create one
                        </button>
                        
                    </div><!-- /.single-slide-item-content-->
                </div><!-- /.col-->
            </div><!-- /.row-->
            </div>
        </div>
    </section>
</body>
</html>