{% extends 'base.html' %}

 {% block content %}
	<section style=" text-align:'center'">
		<div class="container">
            
			<div class="container" style="display: inline;">
				<h3>Here are all the quizzes so far!</h3>
				
			</div>
	
			
					  
			  <table class="table">
				<thead class="thead-light">
				  <tr>
					<th scope="col">Name</th>
					<th scope="col">Link</th>
				  </tr>
				</thead>
				<tbody>
					{% for i in quiz %}
				  <tr>
					
					<td>{{i.name}}</td>
					<td><a href="{% url 'quizapp:quiz_detail' pk=i.pk %}">Give Quiz</a></td>
				
				  </tr>
				  {% endfor %}
				</tbody>
			  </table>
			</section>	
	{% endblock %}