{% extends 'base.html' %}
{%block content %}

<div class="container">
	
	<h1 class="border border-secondary rounded-pill text-center">{{quiz.name}}</h1>
	<form action="" method="post">
		{% csrf_token %}
		<div class="quiz_body" style="min-height: 300px;">
		
			{% for que in quiz.questions.all %}
			
			<div class="card" style="margin: 20px 0;">
				<h5 class="card-header"><strong>Que .</strong> {{ que.question }}?</h5>
				<div class="card-body ">
					<div class="custom-control custom-radio">
						<input type="radio" name="{{ que }}" id="{{ que }}.1" value="1" class="custom-control-input">
						<label class="custom-control-label" for="{{ que }}.1">{{que.opt1}}</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" name="{{ que }}" id="{{ que }}.2" value="2" class="custom-control-input">
						<label class="custom-control-label" for="{{ que }}.2">{{que.opt2}}</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" name="{{ que }}" id="{{ que }}.3" value="3" class="custom-control-input">
						<label class="custom-control-label" for="{{ que }}.3">{{que.opt3}}</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" name="{{ que }}" id="{{ que }}.4" value="4" class="custom-control-input">
						<label class="custom-control-label" for="{{ que }}.4">{{que.opt4}}</label>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<button type="submit" class="btn btn-primary btn-lg btn-block ">Submit</button>
	</form>
</div>

{% endblock %}