{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="{% url 'quizapp:add_question' pk=PK %}">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Add more questions</button>
                </a>
            </div>
            <div class="col-4">
                <a href="{% url 'quizapp:landing' %}">
                    <button  type="button" class="btn btn-primary btn-lg btn-block">Thanks, I'm done!</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}